{% extends 'base.html' %}
{% block title %}Password change{% endblock %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-sm-4 offset-4">
            <h3 class="bg-info text-center my-3">Reset Your Password</h3>
            <form action="" method="POST" novalidate>
                {% csrf_token %}
                   {% if form.non_field_errors %}
                   {% for error in form.non_field_errors %}
                   <p class="alert-danger">{{error}}</p>
                   {% endfor %}
                   {% endif %}
                   {% for fm in form %}
                   <div class="form-group my-0 ">
                     {{fm.label_tag}} {{fm}} <p class=" alert-danger">{{fm.errors|striptags}}</p>
                    </div>
                   {% endfor %}
                <input type="submit" value="Submit" class="btn btn-success">
                <a href="{% url 'profile' user.username %}" class="btn btn-danger mx-3"> Cancel</a>
            </form>
        </div>
    </div>
</div>
{% endblock content %}